* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-item {
  background-color: #ddd;
  border: 2px solid black;
  padding: 10px;
}

.grid-container {
background-color: red;

  height: 1200px;

  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: 25% 25% 50%; */
  /* grid-template-columns: 1fr 1fr 2fr; */
  grid-template-columns: repeat(2, 100px);
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
  grid-gap: 5px;
  grid-template-rows: repeat(2, 300px);
  /* grid-template-areas:
    "box-1 box-1 box-1 box-1"
    "box-2 box-2 box-3 box-3"
    "box-4 box-4 box-4 box-4"; */
  justify-items: strecetch;
  align-items: stretch;

  justify-content: center;
  align-content: end;
}

.box-1 {
  /* grid-area: box-1; */
  /* grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-column: 1/4; */
}

.box-2 {
  /* grid-area: box-2; */
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2/4; */
}

.box-3 {
  /* grid-area: box-3; */
}

.box-4 {
  /* grid-area: box-4; */
}
