.flex-container {
  display: flex;
  flex-direction: row;
  background-color: red;
  height: 500px;
}

.flex-item {
  border: 2px solid #000;
  padding: 10px;
}

.box-1 {
  flex: 1;
  order: 1;
}

.box-2 {
  flex: 1;
  order: 3;
}

.box-3 {
  flex: 3;
  order: 2;
}
  